<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sweet!{% endblock %}</title>
</head>
<body>
<header>
    <h1>Sweet!</h1>
</header>
<main>
    {% include("inc/nav.html.twig") %}
    {% block body %}{% endblock %}
</main>
<footer>
    {% include("inc/nav.html.twig") %}
    <div>&copy; {{ "now" | date("Y") }} Sweet!</div>
</footer>
</body>
</html>