<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('main_sweethome') }}" title="Sweet">Sweet</a></li>
        <li><a href="{{ path('sweet_list') }}" title="Sweet series">Liste</a></li>
        <li><a href="{{ path('sweet_create') }}" title="Create a new serie">Create</a></li>
    </ul>
</nav>